# Стандартный путь к библиотеке eSpeak NG на Windows. Если у вас установлена eSpeak NG в другом месте, укажите путь к библиотеке и данным eSpeak NG ниже.
PHONEMIZER_ESPEAK_LIBRARY=C:\Program Files\eSpeak NG\libespeak-ng.dll
# Стандартный путь к данным eSpeak NG на Windows. Если у вас установлена eSpeak NG в другом месте, укажите путь к данным eSpeak NG ниже.
PHONEMIZER_ESPEAK_DATA_PATH=C:\Program Files\eSpeak NG\espeak-ng-data
# Если вы хотите использовать OpenAI API для автоматического перевода, раскомментируйте следующую строку и укажите ваш ключ API.
#OPENAI_API_KEY=